* {
    font-family: 'Poppins', sans-serif;
}
.Conteudo{
  background-color: #07111A;
}
.Header{background-color:#FF6961 !important; }

.Menu{background-color: #FF6961;}
.Logo{width:  95px; padding-right: 25px;}

.Dest{padding-bottom: 20px;}

h2#avaliacoes {padding-top: 20px; padding-bottom: 20px;}

h2#entrevistas{padding-top: 20px; padding-bottom: 20px;}

#Entre{padding-top: 10px;}

.Makinof{padding-bottom: 20px;}

.Banner{background-color:#081622}
.avaliUser{background-color:#081622; padding-bottom: 20px;}
.lancamentos{padding-top: 20px; padding-bottom: 20px;}

.Banner-Texto{color: white; padding-bottom: 10px;padding-right: 50px; padding-left: 25px;}
.Banner-Texto p1{text-align: justify;}
.Banner-video{padding-bottom: 10px;padding-left: 80px; padding-right: 25px;}

.container {
    text-align: justify;
}

h2 {
    color: white;
}
h3 {
    color: white;
}

h6 {
    color: white;
}

h5 {
    color: white;
}

h4 {
    color: white;
}

a {
    font-size: large;
    margin-block: -5px;
}

p {
    color: white;
}

#Text_Noticia{color: rgb(124, 124, 236) !important;}

p.card-text {
    color: black;
    align-items: center;
    text-align: center;
}
#imag_carro{max-width: 200px;}

hr{color:white;}

#Avalicao{display: flex;}
.estrelas input[type=radio] {
    display: none;
  }
  .estrelas label i.fa{
    font-size: 1em
  }
  .estrelas label i.fa:before {
    content:'\f005';
    color: #FC0;
  }
  .estrelas input[type=radio]:checked ~ label i.fa:before {
    color: #CCC;
  }

  .Conteudo{padding-top: 40px;}

  .des2{padding-bottom: 7px;}

  .img-circle {
    border-radius: 50%;
    filter: invert(100%);
    width: 60%;
    height: 60%;
    align-items: center;
  }

  .img-circle2 {
    border-radius: 50%;
    filter: invert(100%);
    width: 80%;
    height: 90%;
    align-items: center;
  }

  .img-circle3 {
    border-radius: 50%;
    filter: invert(100%);
    align-items: center;
  }

  .Equipe{display: flex; margin-top: 10px;}

  #RedeSociais{padding-top: 10px;}

  .footertext{background-color: #FF6961;}

  .descricao {
    line-height: 24px;
    font-size: 18px;
    color: white;
  }
  
  p.descricao > span {
    background: #383838;
    border-radius: 20px;
    padding: 2px 16px;
    white-space: nowrap;
  }

  .pesquisar {
    height: 40px;
    width: 240px;
    margin-left: 20px;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
   
    display: flex;
    align-items: center;
  }
  a.pesquisar {
    background: #ec615a;
    border: 0;
    text-decoration: none;
    justify-content: center;
  
    transition: background-color 0.2s;
  }
  
  a.pesquisar:hover {
    background: #810000;
    color: #fff !important;
  }
  .pesquisar > input {
    background: transparent;
    border: none;
  }
   
  .pesquisar {
    margin: 10px 0;
    color: white;
  }
.Pesquisa_Movies{
  margin-bottom: 20px;
}

.pesquisar-filme {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

.pesquisar-filme > button {
  height: 40px;
  width: 240px;
  background: #ec615a;
  margin-left: 20px;
  border: 0;
  border-radius: 5px;

  transition: background-color 0.2s;
}

.pesquisar-filme > button:hover {
  background: #810000;
  
}
.titulo{
  color: rgb(233, 116, 116);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.titulo1{
  color: rgb(233, 116, 116);
  display: flex;
  align-items: center;
  justify-content: center;
}
.titulo2{
  color: rgb(180, 75, 75);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}